<template name="account">
    <div class="container">
        <div class="row-fluid">
            <div class="col-md-6 col-md-offset-3">
                <div class="col-md-10 storyItem">
                    <i class="pull-left fa icon-book fa-4x"></i>
                    <h2>{{title}}</h2>
                    <article>
                        <p>
                            {{description}}
                        </p>
                    </article>
                    <a id="btn-to-desk" class="btn story-item-btn pull-right marginBottom10" href="#">Go to desk</a> 
                    <a id="btn-add-to-bookshelf" class="btn story-item-btn pull-right marginBottom10" href="#">Add to bookshelf</a> 
                </div>
            </div>
        </div>
    </div>
</template>

