<template name="navigation">  
    <div class="container">
        <div class="row"><!--navigation bar-->
            <div class="col-md-4">
                <a href="new">
                    <img src="http://icongal.com/gallery/image/89648/plus_add.png"/>
                    <p>Create New</p></a>
            </div>
            <div class="col-md-4">
               <a href="bookshelf">
                   <img src="http://icongal.com/gallery/image/89648/plus_add.png"/>
                   <p>Bookshelf</p></a>
            </div>
            <div class="col-md-4">
                <a href="library">
                    <img src="http://icongal.com/gallery/image/89648/plus_add.png"/>
                    <p>Library</p></a>
            </div>
        </div>
    </div>
</template>