<template name="home">
    <div class="row-fluid"><!--navigation bar-->
        <div class="col-md-4">
            <a href="create">
            <i class="fa fa-plus"> </i>
            <p>Create New</p></a>
        </div>
        <div class="col-md-4">
            <a href="bookshelf">
            <i class="fa fa-plus"> </i>
            <p>Bookshelf</p></a>
        </div>
        <div class="col-md-4">
            <a href="library">
            <i class="fa fa-plus"> </i>
            <p>Library</p></a>
        </div>
    </div>
</template>
