<template name="signUp">
<!--<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">-->
    <div class="login">
        <h3 class="authTitle">Sign up</h3>
        <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-6">    
                <form class="loginForm" action="" autocomplete="off">

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" name="username" placeholder="username">
                    </div>

                    <span id="username-help" class="help-block"></span>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input type="email" class="form-control" name="email" placeholder="email address">
                    </div>

                    <span id="email-help" class="help-block"></span>
                                        
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input  type="password" class="form-control" name="password" placeholder="password">
                        <input  type="password" class="form-control" name="verify" placeholder="verify">
                    </div>

                    <div class="input-group">
                    </div>

                    <span id="password-help" class="help-block"></span>

                    <br>

                    <p>We will send you an email that contains a link with which you can activate your account (wouldn't want too many bots blowing up the servers...).</p>

                    <input type="submit" value="Sign-Up" class="btn btn-lg btn-primary btn-block submit"/>
                </form>
            </div>
        </div>

        <br>

        <div class="row row-sm-offset-3">
            <div class="col-xs-12 col-sm-3">
                <a href="{{pathFor 'login'}}">Login</a>
            </div>
        </div>

    </div>
</template>
