@import (once) url('/client/views/mixins.import.less');

@text-highlight: #a59;
@light-gray: #eee;
@medium-gray: #cdcdcd;
@upvote-green: #a5dfd0;
@facebook-blue: #3b5998;
@twitter-blue: #00aced;
@google-red: #c32f10;

/* Large desktops and laptops */
@media (min-width: 1200px) {}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {}
/* Landscape phones and smaller */
@media (max-width: 480px) {}

html, body { height: 100%; width: 100%; margin: 0; }

body {
    background: @purple-2;
    overflow-y:hidden;
    //position:fixed;
}

.container{
    height:100%;
}

.storytime-logo {
    padding-top: 25px;
    max-width: 80%;
}





.landing .authTitle {
    text-align: left;
}
/*
.landing .socialButtons a {
    color: white; // In yourUse @body-bg
    opacity:0.9;
}
.landing .socialButtons a:hover {
    color: white;
    opacity: 1;
}
*/
.landing .socialButtons .btn-facebook {background: facebook-blue;}
.landing .socialButtons .btn-twitter {background: @twitter-blue;}
.landing .socialButtons .btn-google {background: @google-red;}

.landing .loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.landing .loginOr .hr {
    background-color: @medium-gray;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.landing  .spanOr {
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
}

.landing .landingForm .input-group.i {
    width: 2em;
}

.landing .landingForm  .help-block {
    color: red;
}

.landing .forgotPwd {
    text-align: right;
    margin-top:10px;
}
