<template name="desk">
  <div class="container">
    <div class="col col-offset-4">
      <h1>{{title}}</h1>
    </div>
    <div class="row page">
      <div id="page" class="col-4 col-offset-4">
        {{#each fragments}}
          <span id="_id">{{body}}</span>
        {{/each}}
        <span id="cursor">|</span>

        {{> fragmentDialog}}
        <!--<div class="col-sm-6">
          {{> voteArea}}
        </div>-->
      </div>
    </div>
  </div>
</template>

<template name="fragmentDialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="modal-header">
        <button id="fragment-submit" type="button" class="close" data-dismiss="modal" aria-hidden="true">submit</button>
        <textarea id="fragment-submit-text" style="width:100%;" rows="3"></textarea>
        <!--<h4 class="modal-title">Modal title</h4>-->
      </form>
      <span id="submit-help"></span>
      <!--<div class="modal-body">
        <h3>Modal Body</h3>
      </div>-->
    </div>
  </div>
</template>
