<template name="interaction">
  <div class="row">
    <h3>Fragment Submissions</h3>
  </div>
  <div class="row">
    <button id="story-advance-btn" type="button" class="close">advance</button>
  </div>
  <div id="fragment-submissions" class="row">
    {{#each fragments}}
    <div class="submitted-fragment">
      <span id="{{_id}}" class="upvote glyphicon glyphicon-arrow-up"></span>
      {{text}}
      <span class="badge">{{votes}}</span>
    </div>
    {{/each}}
  </div>
  <form id="fragment-submit" class="row">
    {{#if currentUser}}
    <div class="row">
      <button id="fragment-submit-btn" type="button" class="close">submit</button>
    </div>
    <textarea id="fragment-submit-text"></textarea>
    <span id="submit-help"></span>
    {{else}}
    <p>Login to submit content</p>
    {{/if}}
  </form>
</template>
