.storyItem{ border-bottom:1px solid #ddd;}

.story-item-btn {
    color: #ffffff;
    background-color: #37d980;
    border-color: #37d980;
    border-radius:5;
    margin-right:10px;

}

.story-item-btn:hover,
.story-item-btn:focus,
.story-item-btn:active,
.story-item-btn.active,
.open .dropdown-toggle .story-item-btn {
    color: white;
    background-color:#34ca78;
    border-color: #34ca78;
}
.margin10{margin-bottom:10px; margin-right:10px;}
.storyItem{
    height:20%;
}
.library-list{
    list-style: none;   
}

.title{
	text-overflow: ellipsis;
	cursor: default;
	}
	
