<template name="forgotPassword">
    <div class="landing">
        <h3 class="authTitle">Forgot Password?</h3>
        <p>We'll reset your password and send you an email.</p>

        <div class="row row-sm-offset-3">
            <div class="col-xs-12 col-sm-6">    
                <form id="submit-password-reset" class="landingForm" action="action" autocomplete="off">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input id="email" type="text" class="form-control" placeholder="email address">
                    </div>
                    <span class="help-block"></span>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                </form>
            </div>
        </div>

        <br>

        <div class="row row-sm-offset-3">
            <div class="col-xs-12 col-sm-3">
                <a href="{{pathFor 'login'}}">Login</a>
            </div>
            <div class="col-xs-12 col-sm-3">
                <a href="{{pathFor 'signUp'}}">Sign-Up</a>
            </div>
        </div>
    </div>
</template>
