<template name="emailSent">
  <div class="container">
    <div class="row row-sm-offset-3">
      <div class="col-xs-12 col-sm-3">
        <h3> Email Sent </h3>
        <p>
          We sent you an email--check it for a link to activate your account!
        </p>
      </div>
    </div>
    <div class="row row-sm-offset-3 loginOr">
      <div class="col-xs-12 col-sm-6">
        <hr class="hr">
      </div>
    </div>
    <div class="landing">
      <h3 class="authTitle"><a href="{{pathFor 'login'}}">Return to Login</a></h3>
    </div>
  </div>
</template>
